header { 
    @include flexcenter();
    position: relative;
    height: 65px;
    width: 100%;
    & h1 {
        font-family: 'Shrikhand', 'sans-serif';
        font-size: 31px;
        margin: 0;
        }
    & .fas{
        position: absolute;
        left: 20px;
        top:25px;
        color: black;
    }
}