// Mixin centrage horizontal et vertical
@mixin flexcenter {
    display:flex;
    justify-content: center;
    align-items: center;
}

// Mixins boutons

@mixin button-style {
    opacity: 1;
    background: $gradient;
    outline: none;
    border: none;
    border-radius: 100px;
    width: 230px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 18px 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    transition: all 0.3s ease-in-out; 
}

@mixin button-hover {
    opacity: 0.8;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.6);
    cursor: pointer;   
}

// Mixins animation du coeur

@mixin empty-heart {
    position: absolute;
    font-size: 27px;
    transition: opacity 1s ease-in-out;
}

@mixin full-heart {
    position: absolute;
    font-size: 27px;
    opacity: 0;
    background: $gradient;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity 1s ease-in-out;
}

//  Mixin Media Queries

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin large {
    @media screen and (min-width: map-get($breakpoints, large)) {
        @content;
    }
}
