@mixin flexcenter {
    display:flex;
    justify-content: center;
    align-items: center;
}

@mixin button-style {
    opacity: 1;
    background: $gradient;
    outline: none;
    border: none;
    border-radius: 100px;
    width: 230px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 18px 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    transition: all 0.3s ease-in-out; 
}

@mixin button-hover {
    opacity: 0.8;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.6);
    cursor: pointer;   
}
